* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter";
}
.container {
    margin: 0 auto;
    max-width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
}
nav {
    position: relative;
    top: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
}
ul {
    display: inline-block;
    list-style-type: none;
}
.logo {
    position: relative;
    top: 10px;
    display: inline-block;
    margin-right: 300px;
    margin-top: 15px;
}
a {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    display: inline-block;
    text-decoration: none;
    color: #8a94a6;
}
li {
    display: inline-block;
    margin-right: 15px;
}
.chevron {
    margin-right: 18px;
}
button {
    color: white;
    display: inline-block;
    background-color: #377dff;
    width: 160px;
    height: 57px;
    border-radius: 10px;
    margin-left: 20px;
}
.hero {
    padding-top: 108px;
    padding-bottom: 124px;
}
h1 {
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 73px;
    color: #323b4b;
    text-align: center;
    margin-bottom: 35px;
}
header {
}
.hero-text {
    width: 805px;
    color: #8a94a6;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
    margin-left: 150px;
    margin-bottom: 57px;
}
.icon {
    margin-top: 40px;
    margin-bottom: 36px;
}
.box-1 {
    margin-right: 25px;
    width: calc((100% - 64px) / 3);
}
.box {
    display: inline-block;
    background-color: rgb(237, 248, 248);
    width: 392px;
    width: calc((100% - 64px) / 3);
    height: 347px;
    border-radius: 15px;
    padding-left: 31px;
    padding-right: 27px;
}
#box-text {
    color: #8a94a6;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 16px;
}
h2 {
    margin-bottom: 21px;
}
.box-link {
    color: #377dff;
    font-size: 20px;
    font-weight: 600;
}
/* Contact */
.contact {
    padding: 120px 124px 312px;
    background-color: rgb(240, 240, 239);
}
h3 {
    text-align: center;
    font-size: 48px;
    color: #323b4b;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 28px;
}
.contact p {
    width: 780px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
    color: #8a94a6;
    margin-bottom: 52px;
    margin-left: 200px;
}
.form-top {
    margin-bottom: 42px;
}
.form-bottom {
    margin-bottom: 42px;
}

form {
    text-align: center;
}
input {
    padding: 20px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #b0b7c3;

    border-radius: 10px;
    width: 391px;
    height: 66px;
}
.agreement {
    display: inline-block;
}
.agreement-checkbox {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
#agreement-text {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.submit-btn {
    color: white;
    display: inline-block;
    background-color: #377dff;
    width: 286px;
    height: 66px;
}
footer {
    padding-top: 132px;
}

.footer-text {
    margin-top: 27px;
    width: 282px;
    height: 110px;
    color: #8a94a6;
}
.footer-link {
    margin-right: 80px;
    display: inline-block;
    vertical-align: top;
    width: calc((100% - 320px) * 0.175);
}
.footer-link-last {
    display: inline-block;
    vertical-align: top;
    width: calc((100% - 320px) * 0.175);
}
.footer__brand {
    margin-right: 80px;
    display: inline-block;
    vertical-align: top;
    width: calc((100% - 320px) * 0.3);
}

h4 {
    margin-bottom: 27px;
    color: #323b4b;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 29px;
}
.footer-link-last a {
    margin-bottom: 19px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    display: block;
}

.footer-link a {
    margin-bottom: 19px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    display: block;
}
